@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@100;200;300;400;600;700&display=swap');

body {
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 50px;;
    background-size: 1500px auto;
}
.container {
    width: 460px;
    height: 460px;
    background-color: #ffff;
    border: 5px solid black;
    display: grid;
    margin-top: 528px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    font-family: 'Borel', cursive;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 30px 20px; 
    border-radius: 50%;
    transition-duration: 0.4s;
}

.btn:hover {
    color: red;
    font-size: 30px;
    font-weight: 1000;
}

.color-picker {
    font-family: 'Borel', cursive;
}

/*Responsive Grid
@media screen AND (max-width: 768px) {
    .grid {
        grid-template-columns: 100%
    }
}
*/